<table class="table table-hover table-bordered table-striped" id="EvenUserId">
    <thead style="background-color: #f1f4f7;">
        <tr>
            <th>id</th>
            <th>UserId</th>
            <th>Title</th>
            <th>Completed</th>
            <th>Edited</th>
            <th>Other</th>
        </tr>
    </thead>
    <tbody id="tablebody"></tbody>
</table>

<div class="modal fade" id="addevenUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Enter User Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table style="width: 100%; margin-top: 2%;" class="keyContact" id="KeyContacts1">
                    <tr class="row">
                        <td class="col-md-6">
                            <div style="font-weight: normal; text-align: left; margin-top: -4px; margin-left: 0px; color: #212b36; margin-bottom: 5px;">Title <span style="color:red">*</span></div>
                            <div class="input-icon" style="width:98.7%">
                                <input type="text" id="title_Modal" class="withHelper ContactClass form-control FirstNameKeyClass" style="margin-bottom: 19px; padding-left: 10px;" />
                            </div>
                        </td>
                        <td class="col-md-6">
                            <div>IsCompleted<span style="color:red">*</span></div>
                            <div class="input-icon" style="width:98.7%; margin-left: 10px;">
                                <input type="radio" id="compelet1" name="completed_Modal" />
                                <label for="compelet1">yes</label><br>
                                <input type="radio" id="compelet2" name="completed_Modal" />
                                <label for="compelet2">No</label><br>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="EditUser()">Save</button>
            </div>
        </div>
    </div>
</div>



<script>
    var userId;
    $(document).ready(function () {

        LoadTable();

    });

    function LoadTable() {
        $('#tablebody').empty("");

        $.ajax({
            type: "GET",
            cache: false,
            async: false,
            contentType: "application/json; charset=utf-8",
            url: '/User/GetTable',
            data: { "tableId": 2 },
            success: function (res) {
                UserEvens = JSON.parse(res.data);
                var t = "";
                for (var i in UserEvens) {
                    t += "<tr>";
                    t += "<td style='vertical-align: middle;'>" + UserEvens[i].id + "</td>";
                    t += "<td style='vertical-align: middle;'>" + UserEvens[i].userId + "</td>";
                    t += "<td style='vertical-align: middle;zoom: 0.9;'>" + UserEvens[i].title + "</td>";
                    t += "<td style='vertical-align: middle;'>" + UserEvens[i].completed + "</td>";
                    t += "<td style='vertical-align: middle;'>" + UserEvens[i].edited + "</td>";
                    t += "<td style='vertical-align: middle;'><i class='fa fa-edit'style='cursor: pointer;margin-left: 10px;' onclick='OpenUserModel(\"" + UserEvens[i].id  + "\")'></i>"
                    t += "<i class='fa fa-close'style = 'cursor: pointer;margin-left: 20px' onclick = 'DeleteUser(\"" + UserEvens[i].id  + "\")' ></i></td > ";
                    t += "</tr>";
                }
                $('#tablebody').append(t);
            }
        });

    }

    function OpenUserModel(id) {
        $('#addevenUser').modal('toggle');
        $('#addevenUser').modal('show');
        userId = id;
    }

    function EditUser() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/User/EditUser',
            data: {
                id: userId, title: $(".modal").find('#title_Modal').val(), completed: $(".modal").find('input[name="completed_Modal"]:checked').val()},
            success: function (res) {
                clearForm($("#addevenUser"))
                LoadTable();
            }
        });
    }

    function DeleteUser(id) {
        $.ajax({
            type: "Post",
            cache: false,
            async: false,
            url: '/User/DeleteUser',
            data: {
                "id": id
            },
            success: function (res) {
                LoadTable();
            }
        });
    }


    function clearForm($form) {
        $form.find(':input').not(':button, :submit, :reset, :hidden, :checkbox, :radio').val('');
        $form.find(':checkbox, :radio').prop('checked', false);
    }
</script>